<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="menu/dashboard::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Online Exam Center</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <style>
        .register-box {
            max-width: 800px;
            margin: 0 auto;
            padding: 50px;
            background-color: #a494ac17;
            border: 1px solid #dee2e6;
            border-radius: 12px;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        }

        .footer {
            background-color: #343a40;
            color: white;
            padding: 20px 0;
            text-align: center;
        }
    </style>
</head>

<body>
<section>
<div class="container pt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="h3 text-center">Exams </h5>
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Sr</th>
                    <th>Exam Name</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Action</th>
                    <!-- <th>Action</th> -->
                </tr>
                <tbody class="text-center">
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td><button class="btn btn-primary"> <span class="h6 text-center">Start </span></button>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td><button class="btn btn-primary"> <span class="h6 text-center">Start </span></button>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td><button class="btn btn-primary"> <span class="h6 text-center">Start </span></button>
                    </td>
                </tr>

                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td><button class="btn btn-primary"> <span class="h6 text-center">Start </span></button>
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td>1</td>
                    <td><button class="btn btn-primary"> <span class="h6 text-center">Start </span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>

</html>